
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* end of import and miscellaneous */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* end of reset */

/* body */
body{
    font-size: 16px;
    background: url('assets/images/background-pattern-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 20;
    overflow: hidden;
}

/* Font */
.worksans_font{
    font-family: 'Work Sans', sans-serif;
}

#accordion-1, #accordion-2, #accordion-3, #accordion-4{
    font-family: 'Work Sans', sans-serif;
}

/* Colors */
.white_color{
    color: hsl(0, 0%, 100%)
}

.lightpink_color{
    color: hsl(275, 100%, 97%)
}

.grayishpurple_color{
    color: hsl(292, 16%, 49%)
}

.darkpurple_color{
    color: hsl(292, 42%, 14%)
}

/* white container */
#white-container{

    height: auto;
    width: 100%;
    min-width: 270px; /* Set the minimum width to a fixed value */
    max-width: 600px; 
    margin: 20vh auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 27px 35px;
    box-shadow: 0px 20px 300px 20px hsla(281, 83%, 55%, 0.19), 0px 20px 30px 0 rgba(0, 0, 0, 0.07);
}

/* title */

#icon_star{
    padding: 20px 20px 20px 5px;
    height: auto;
    width: 57px;
}

#title{
    font-size: 45px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
    display: flex;
    align-items: center;
}

/* button settings */
button{
    border: none;
}

/* accordion header and title text*/
.accordion-header{
padding: 20px 0;
font-weight: 600;
color: hsl(292, 42%, 14%);
display: flex;
align-items: center;
justify-content: space-between;
}

.accordion-titletext:hover{
    color: #b02cec;
    cursor: pointer;
}

/* accordion content */
#accordion-1-content, #accordion-2-content, #accordion-3-content, #accordion-4-content{
    color: hsl(292, 16%, 49%);
    margin: 5px 0 35px 0;
}

/* Javascript hide and reveal content */
.hide-content{
    display: none;
}

.reveal-content{
    display: block;
}
